# --------------------
# Git
# --------------------
.git
.gitignore

# --------------------
# Python cache
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual env & secrets
# --------------------
venv/
.env

# --------------------
# Gradio cache
# --------------------
.gradio/

# --------------------
# Generated runtime files
# --------------------
generated/
outputs/
*.mp3
*.wav
*.pdf

# --------------------
# OS / Editor
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
