aiofiles==23.2.1
anyio==4.12.1
bcrypt==4.0.1

elevenlabs==1.50.3
fastapi==0.133.0
ffmpy==1.0.0
gradio==6.8.0
gradio_client==2.2.0

groq==0.15.0
httpx==0.28.1
huggingface_hub==1.5.0

Jinja2==3.1.6
matplotlib==3.10.8
numpy==2.2.6
orjson==3.11.7
pandas==2.3.3

passlib==1.7.4
pillow==10.4.0
pydantic==2.12.5
pydub==0.25.1
python-dotenv==1.2.1
python-multipart==0.0.22

PyYAML==6.0.3
reportlab==4.4.10
requests==2.32.5
rich==14.3.3
semantic-version==2.10.0

SQLAlchemy==2.0.47
starlette==0.52.1
typer==0.24.1
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.41.0
websockets==12.0